/* Styles pour la page d'accueil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #978c8c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main ul li img {
    width: 200px; /* Largeur fixe de 200px */
    height: 150px; /* Hauteur fixe de 150px */
    margin-right: 20px; /* Ajoute un espace de 20px entre l'image et le texte */
    margin: 0; /* Supprimez toutes les autres marges de l'image */
}



#cta-section {
    background-color: #f2f2f2;
    padding: 20px;
}

footer {
    background-color: #978c8c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#cta-section ul {
    list-style: none;
    padding: 0;
}

#cta-section ul li {
    margin-bottom: 10px;
}

form input {
    padding: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
}
