/* Reset de base pour certains éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #003366; 
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden; 
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

nav a:hover {
    background-color: #ff6600; 
    color: white;
  }

.section h1 {
    color: #99cc00; 
  }
  
.product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    border: 1px solid #ddd; 
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
}

.img {
    float: center;
}
footer {
        background-color: #003366; 
        color: white;
        text-align: center;
        padding: 10px 0;
        position: relative; 
        bottom: 0;
        width: 100%;  
        
}

#cta-section ul {
    list-style: none;
    padding: 0;
}

#cta-section ul li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
  }

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
}
